:root {
  --heading-font-family: "Roboto", serif;
  --default-font-family: "Montserrat", serif;
  --heading-color: #f65282;
}

.header {
  background-color: #212121;
}

body {
  background-color: #1b1b1b;
}

h1,
h3 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: white;
}

h1 {
  font-size: 64px;
  margin-bottom: 25px;
}

h2 {
  font-size: 18px;
  color: var(--heading-color);
  text-transform: uppercase;
  margin-bottom: 32px;
}

h3 {
  font-size: 24px;
  margin-bottom: 25px;
}

p {
  color: white;
  font-family: var(--heading-font-family);
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
}

.logo {
  max-height: 25px;
}

.hero {
  background-image: url("/images/headshot.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  color: white;
  padding: 200px 0px;
}

.contact-info {
  margin-top: 142px;
}

.about-me h1 {
  font-size: 64px;
}

.about-me {
  padding: 140px 0px;
}

.about-paragraph {
  margin-top: 34px;
}

.btn-branding {
  color: black;
  background-color: white;
  border-radius: 50px;
  font-family: var(--default-font-family);
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  padding: 14px 30px 14px 30px;
  margin-top: 15px;
}

.image-container {
  text-align: center;
  margin-bottom: 50px;
}

.row-one {
  display: inline-block;
  margin: 100px auto 0px;
  max-width: 1152px;
}

.row-two,
.row-three,
.row-four {
  display: inline-block;
  margin: 40px auto 0px;
  max-width: 1152px;
}

.fa-brands {
  margin: 10px;
}

.social-links {
  margin-bottom: 35px;
}

.camera-info {
  background-color: #2d2727;
  padding: 5px;
  border-radius: 4px;
}

.camera-spec {
  margin: 25px 20px 25px 30px;
}

.camera-image {
  margin: 20px 0px 20px 20px;
}

.contact-info a {
  color: white;
}

footer {
  background-color: #212121;
  padding: 15px;
}

footer a {
  margin: 10px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 36px;
    margin-bottom: 5px;
  }

  h2 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  h3 {
    font-size: 20px;
    margin-bottom: 5px;
  }

  p {
    font-size: 12px;
    line-height: 18px;
  }

  .btn-branding {
    font-size: 12px;
    padding: 10px 15px 10px 15px;
  }

  .hero,
  .about-me {
    padding: 30px;
  }

  .about-me {
    text-align: center;
  }

  footer a {
    margin: 2px;
  }

  footer .credit {
    font-size: 10px;
    text-align: center;
  }

  footer .social-links {
    margin: 0px;
  }
}

.mobile-images {
  margin: 0px 30px 30px 30px;
}
